---
import ToggleTheme from '../ToggleTheme/index.jsx';
import { resolveRoot } from '@util-lib/util';
import "./index.scss";

interface Props {
  hide?: boolean,
  pageId?: string,
}
const { hide = false, pageId } = Astro.props;
const TGW_LOGO_PATH = resolveRoot("tgw-logo.svg");
---

<div class={`fixed-bar ${!hide ? "show" : ""}`} data-page-id={pageId}>
  <div class="logo-container">
    <img src={TGW_LOGO_PATH} alt="tgw logo">
  </div>
  <div class="toggle-btn-container">
    <ToggleTheme client:load/>
  </div>
</div>

<script>
  const fixedBar = document.getElementsByClassName("fixed-bar")[0];
  const id = fixedBar.getAttribute("data-page-id");
  const page = document.getElementById(id) || document.documentElement;
  let lastScrollTop: number = page.scrollTop;
  page.addEventListener("scroll", function() {
    const currentScrollTop = page.scrollTop;
    // scroll up
    if(currentScrollTop < lastScrollTop) {
      fixedBar.classList.add("show");
    }
    // scroll down
    else {
      fixedBar.classList.remove("show");
    }

    lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop;
  })
</script>

<!-- <style lang="scss">
  [html-dark-theme] .fixed-bar {
    background-color: white;
  }
  .fixed-bar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
    transition: .3s;

    &.show {
      transform: translateY(0);
    }

    .logo-container {
      padding: 15px 20px;
      img {
        display: block;
        width: 36px;
      }
    }
    
    .toggle-btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }
  }
</style> -->