[html-dark-theme] .fixed-bar {
  background-color: rgba(0, 0, 0, 0.85);
  border-color: rgb(64, 64, 64);
}

.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: rgba(202, 202, 202, 0.9);
  border-bottom: 4px gray solid;
  transition: .3s;

  &.show {
    transform: translateY(0);
  }

  .logo-container {
    padding: 15px 20px;
    img {
      display: block;
      width: 36px;
    }
  }
  
  .toggle-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
}