body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 80px;
}

.background-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* コンテンツの背面に配置 */
}
.top {
  text-align: center;
}

.content {
  text-align: center;
  color: #fff;
}

.text-center {
  color: #adadad;
  text-shadow: 
  1px 1px 0 #000, 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000;
  font-size: 24px;
  padding: 20px;
}

.rotating-text {
  height: 100px;
  color: #fff;
  text-shadow: 
  1px 1px 0 #000, 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: bold;
}

.aboutus {
  margin: 300px;
  display: inline-block;
  text-align: center;
}

.btn {
  width: 100px;
  padding: 15px 30px;
  font-size: 24px;
  color: #fff;
  border: solid rgb(255, 255, 255);
  background-color: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn:hover {
  background-color: #000000;
}

/* jsに対する指示 */
#videoPlayer {
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}

.slide-out {
    transform: translateX(-100%);
}

.slide-in {
    transform: translateX(100%);
}

#line1, #line2 {
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}

#line1.slide-out, #line2.slide-out {
    transform: translateX(-100%);
}

#line1.slide-in, #line2.slide-in {
    transform: translateX(100%);
}



/* Over 625px */
@media screen and (min-width: 625px) {
  .rotating-text {
    font-size: 70px;
  }

  .btn:hover {
    background-color: #000000;
  }

  .pcNone {
    display: none;
  }
}

/* Under 625px */
@media screen and (max-width: 625px) {
  .rotating-text {
    font-size: xx-large;
  }

  .tgwTitle {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .mobileNone {
    display: none;
  }
}
