body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}

p {
  font-size: 30px;
}
.text-border {
  padding-top: 40px;
  border-top: solid black
}

.background-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* コンテンツの背面に配置 */
}

.top {
  text-align: center;
}

.content {
  text-align: center;
  color: #fff;
}

.text-center {
  color: #adadad;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
  font-size: 24px;
  padding: 20px;
  align-items: flex-start;
}

.rotating-text {
  color: #fff;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: bold;
}

.top-btn {
  display: inline-block;
  text-align: center;
}

.btn1 {
  width: 100px;
  padding: 15px 30px;
  font-size: 24px;
  color: #fff;
  border: solid rgb(255, 255, 255);
  background-color: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.headerContent {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.yearTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Eventのcss */
.Event {
  height: 800px;
  background-image: url('https://github.com/TGW-Hub/TGW-Hub/blob/main/img/event-background.jpg'); /* 画像のパス */
  background-size: cover; /* 画像がエリア全体を覆うように調整 */
  background-position: center; /* 画像の中央を表示 */
  background-repeat: no-repeat; /* 画像の繰り返しを防止 */
  padding-bottom: none;
}

.flex-box1 {
  margin-top: 180px;
  margin-left: 200px;
  display: inline-flex;
}

.event-text {
  margin-right: 200px;
}

.event-btn {
  display: inline-block;
  text-align: center;
}

.btn2 {
  width: 120px;
  padding: 15px 30px;
  font-size: 24px;
  color: #383838;
  border: solid #383838;
  background-color: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.image-container {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-left: 100px;
  margin-top: 49.800px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Guidelinesのcss */

.Guidelines {
  height: 400px;
  background-image: url('img/guidelines-background.jpg'); /* 画像のパス */
  background-size: cover; /* 画像がエリア全体を覆うように調整 */
  background-position: center; /* 画像の中央を表示 */
  background-repeat: no-repeat; /* 画像の繰り返しを防止 */
  text-align: center;
  padding: 1px;
}

.Gl-text {
  margin-top: 70px;
}

.Gl-border {
  border-bottom: solid black;
  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 30px;
}

.Gl-btn {
  display: inline-block;
  text-align: center;
}

.btn3 {
  width: 300px;
  padding: 15px 30px;
  font-size: 24px;
  color: #383838;
  border: solid #383838;
  background-color: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

/* managersのcss */

.managers {
  height: 800px;
  background-image: url('img/managers-background.jpg'); /* 画像のパス */
  background-size: cover; /* 画像がエリア全体を覆うように調整 */
  background-position: center; /* 画像の中央を表示 */
  background-repeat: no-repeat; /* 画像の繰り返しを防止 */
  padding-bottom: none;
}

.flex-box2 {
  margin-top: 180px;
  margin-left: 200px;
  display: inline-flex;
}



.manager-btn {
  display: inline-block;
  text-align: center;
}

.mng-text {
  text-align: left;
}

.mng-border {
  border-bottom: solid black;
}

.btn4 {
  width: 200px;
  padding: 15px 30px;
  font-size: 24px;
  color: #383838;
  border: solid #383838;
  background-color: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.credit {
  padding-top: 160px;
  text-align: right;
}

/* Over 625px */
@media screen and (min-width: 625px) {
  .rotating-text {
    font-size: 70px;
  }

  .btn:hover {
    background-color: #000000;
  }

  .pcNone {
    display: none;
  }
}

/* Under 625px */
@media screen and (max-width: 625px) {
  .rotating-text {
    font-size: xx-large;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mobileNone {
    display: none;
  }
}
