---
import FullScreenPage from "../../layouts/FullScreenPage.astro";
import PageDescription from "../PageDescription.astro";
import Button from '../Button.astro';
import seaImages from "@img/watersCoverTheSea.webp?fb";
import { separateImageFormats } from "@util-lib/util";

const { avif, webp, jpeg } = separateImageFormats(seaImages, ["avif", "webp", "jpeg"]);
---

<FullScreenPage>
  <div class="gemContent">
    <span class="linkBody">
      <PageDescription 
        title="TGW Index"
        description={[
          "TGWに寄せられた宝の索引",
          "グループ開設から現在までのすべてのコメントがここに"
        ]}
      />
      <div class="gemContentButtonContainer">
      <div class="button-container">
        <Button
          buttonText='いますぐ見る'
          link={"https://kondo-kazushi.github.io/tgw-index#fromHub"}
        />
       </div>
      </div>
    </span>
    <!-- <img class="SeaImage" src={jpeg.src} /> -->
    <picture class="seaImage">
      <source srcset={avif.src} type="image/avif">
      <source srcset={webp.src} type="images/webp">
      <img src={jpeg.src} alt="水が海を覆っている"/>
    </picture>
  </div>
</FullScreenPage>

<style lang="scss">
  :root {
    font-family: "ヒラギノ丸ゴ ProN";
  }

  .seaImage img {
    width: 100%;
    object-fit: cover;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #000b1c;
      color: #fff;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      background-color: #fffdfa;
    }
  }

  /*
  $tgwLinkButtonStyles: (
    light: (
      color: black,
      background-color: white,
      border: 2px solid black,
    ),
    dark: (
      color: white,
      background-color: black,
      border: 2px solid white,
    )
  );
  @mixin tgwLink($variant) {
    $styles: map-get($tgwLinkButtonStyles, $variant);

    color: map-get($styles, color);
    background-color: map-get($styles, background-color);
    border: map-get($styles, border);
  }


  @media (prefers-color-scheme: dark) {
    .tgwLink {
      @include tgwLink(light);
    }
    @media screen and (min-width: 500px) {
      .tgwLink:hover {
        @include tgwLink(dark);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .tgwLink {
      @include tgwLink(dark);
    }

    @media screen and (min-width: 500px) {
      .tgwLink:hover {
        @include tgwLink(light);
      }
    }
  }

  */

  @media screen and (min-width: 735px) {
    .gemContent {
      flex-direction: row;
      justify-content: space-around;
    }

    .gemContentButtonContainer {
    margin-left: 1rem;
  }

    .seaImage {
      max-width: 50%;
      overflow: hidden;
    }

    .linkBody {
      text-align: left;
    }
  }

  @media screen and (max-width: 735px) {
    .gemContent {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .seaImage {
      width: 75%;
      max-width: 400px;
    }

    .linkBody {
      text-align: center;
    }
  }

  .gemContent {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .title {
    margin-bottom: 1rem;
  }

  .linkBody {
    margin: 1rem;
  }

  .tgwLink {
    margin-top: 1rem;
    padding: 1rem 1rem;
    min-width: 75px;
    font-size: large;
    font-family: "ヒラギノ丸ゴ ProN";
    text-decoration: none;
    display: block;
    text-align: center;
  }
</style>
