---
import FullScreenPage from "../../layouts/FullScreenPage.astro";
import PageDescription from "../PageDescription.astro";
import BibleImages from "@img/openBible.webp?fb";
import { separateImageFormats } from "@util-lib/util";

const { avif, webp, jpeg } = separateImageFormats(BibleImages, ["avif", "webp", "jpeg"]);
---

<FullScreenPage>
  <div class="gemContent">
    <span class="linkBody">
      <PageDescription 
        title="Gems Index"
        description={[
          "TGWに寄せられた宝の索引",
          "グループ開設から現在までのすべてのコメントがここに"
        ]}
      />
      <a class="tgwLink" href="https://kondo-kazushi.github.io/tgw-index"
        >Check Now</a
      >
    </span>
    <!-- <img class="bibleImage" src={jpeg.src} /> -->
    <picture class="bibleImage">
      <source srcset={avif.src} type="image/avif">
      <source srcset={webp.src} type="images/webp">
      <img src={jpeg.src} alt="開かれた聖書の画像"/>
    </picture>
  </div>
</FullScreenPage>

<style lang="scss">
  :root {
    font-family: "ヒラギノ丸ゴ ProN";
  }

  .bibleImage img {
    width: 100%;
    object-fit: cover;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #000b1c;
      color: #fff;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      background-color: #fffdfa;
    }
  }

  $tgwLinkButtonStyles: (
    light: (
      color: black,
      background-color: white,
      border: 2px solid black,
    ),
    dark: (
      color: white,
      background-color: black,
      border: 2px solid white,
    )
  );
  @mixin tgwLink($variant) {
    $styles: map-get($tgwLinkButtonStyles, $variant);

    color: map-get($styles, color);
    background-color: map-get($styles, background-color);
    border: map-get($styles, border);
  }

  @media (prefers-color-scheme: dark) {
    .tgwLink {
      @include tgwLink(light);
    }
    @media screen and (min-width: 500px) {
      .tgwLink:hover {
        @include tgwLink(dark);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .tgwLink {
      @include tgwLink(dark);
    }

    @media screen and (min-width: 500px) {
      .tgwLink:hover {
        @include tgwLink(light);
      }
    }
  }

  @media screen and (min-width: 735px) {
    .gemContent {
      flex-direction: row;
      justify-content: space-around;
    }

    .bibleImage {
      max-width: 50%;
      overflow: hidden;

      img {
        transition: 0.35s;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .linkBody {
      text-align: left;
    }
  }

  @media screen and (max-width: 735px) {
    .gemContent {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .bibleImage {
      width: 75%;
      max-width: 400px;
    }

    .linkBody {
      text-align: center;
    }
  }

  .gemContent {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .title {
    margin-bottom: 1rem;
  }

  .linkBody {
    margin: 1rem;
  }

  .tgwLink {
    margin-top: 1rem;
    padding: 1rem 1rem;
    min-width: 75px;
    font-size: large;
    font-family: "ヒラギノ丸ゴ ProN";
    text-decoration: none;
    display: block;
    text-align: center;
  }
</style>
