---
import FullScreenPage from '../../layouts/FullScreenPage.astro';
import PageDescription from '../PageDescription.astro';
import Button from '../Button.astro';
import StyledBackground from '../StyledBackground.astro';
import { resolveRoot } from '@util-lib/util';

import ManagerSVG from '@img/undraw-manager.svg';

const linkToManagers = resolveRoot("managers");
---

<FullScreenPage pagePadding="0px">
  <StyledBackground/>
  <div class="flex-container">
    <div class="page-description">
      <PageDescription 
        title="managers"
        description={[
          "hello world",
          // TODO: change to proper text
        ]}
      />
      <!-- TODO: add style to button -->
       <div class="button-container">
        <Button
          buttonText='メンバーを見る'
          link={linkToManagers}
        />
       </div>
    </div>
    <div class="icon-wrapper">
      <img src={ManagerSVG.src} alt="manager icon">
    </div>
  </div>
</FullScreenPage>

<style lang="scss">
  @import "@sass-lib/util-function";

  .flex-container {
    width: 100%;
    height: 100%;
    @include flex-container-center();
    flex-direction: row-reverse;
    padding: 20px;

    .page-description {
      flex: 1 1 60%;
      max-width: 700px;
      padding-left: 10%;
    }

    .icon-wrapper  {
      flex: 1 1 40%;
      max-width: 300px;
      padding: 20px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
</style>