---
// import VideoBackground from './VideoBackground.astro';
import FullScreenPage from '../../layouts/FullScreenPage.astro';
import ScriptureOfTheYear from '../ScriptureOfTheYear.astro';
import Button from '../Button.astro';
---

<FullScreenPage pagePadding="0px">
  <div class="background">
    <div class="wrapper">
      <div class="website-name">
        <h3 class="pacifico-cursive">treasures from god's word hub</h3>
      </div>
      <ScriptureOfTheYear/>
      <div class="button-container">
        <Button 
        buttonText='about us'
        uppercase
        size="l"
        theme={{
          type: "primary",
          color: "#34b0e5",
        }} 
        />
      </div>
    </div>
  </div>
</FullScreenPage>

<style lang="scss">
  @import "@sass-lib/util-function";
  .background {
    width: 100vw;
    height: 100vh;
    @include flex-container-center();

    &::before {
      content: "";
      @include fill-relative-parentnode(
        -100, // z-index
        url("@img/forest.jpg") center center/cover no-repeat, //background
      );
      filter: brightness(.55);
      mask-image: linear-gradient(to top, transparent, rgba(0,0,0,1));
    }
  }
  .wrapper {
    padding: 4rem 0;
    width: 80vw;
    max-width: 850px;
    margin: -10% auto 0;
    text-align: center;
    color: white;
    position: relative;
    transform: translate3d(0,0,0);
    text-shadow: 2px 2px 4px rgb(30, 184, 255),
                  4px 2px 8px #6af3ff;
  }
  .website-name {
    margin-bottom: 4rem;
    h3 {
      font-size: var(--header-small);
      text-transform: uppercase;
      word-spacing: 10px;
    }
  }
  .button-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
</style>