---
const scriptureOfTheYear = {
  from: "Psalm 56:3",
  text: "When I am afraid I put my trust in you."
}
---

<div class="container">
  <h1>"{scriptureOfTheYear.text}" ー{scriptureOfTheYear.from}</h1>
</div>

<style lang="scss">
  .container {
    
    h1 {
      font-size: var(--header-large);
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
</style>