---
import { resolveRoot } from '@util-lib/util';

interface Props {
  width?: number;
  href?: string;
}

const TGWLogoPath = resolveRoot("tgw-logo.svg");
const indexPageLink = resolveRoot();

const { width = 30, href = indexPageLink } = Astro.props;
---

<a href={href}>
  <img src={TGWLogoPath} alt="tgw-logo" width={`${width}px`} tgw-logo/>
</a>

<style lang="scss">
  a {
    display: inline-block;
  }
  img {
    display: block;
  }
</style>