---
import VideoBackground from './VideoBackground.astro';
import ScriptureOfTheYear from './ScriptureOfTheYear.astro';
---

<VideoBackground>
  <div class="website-name">
    <h3 class="pacifico-cursive">treasures from god's word hub</h3>
  </div>
  <ScriptureOfTheYear/>
</VideoBackground>

<style lang="scss">
  .website-name {
    h3 {
      font-size: var(--header-small);
      text-transform: uppercase;
    }
  }
</style>