---
import VideoBackground from './VideoBackground.astro';
import ScriptureOfTheYear from './ScriptureOfTheYear.astro';
---


<VideoBackground>
  <div class="website-name">
    <h3 class="pacifico-cursive">treasures from god's word hub</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est perferendis sint laboriosam molestiae recusandae ad odit exercitationem labore, impedit corrupti enim, voluptates expedita sit animi natus id quo distinctio magni?</p>
  </div>
  <ScriptureOfTheYear/>
</VideoBackground>

<style lang="scss">
  .website-name {
    h3 {
      font-size: var(--header-small);
      text-transform: uppercase;
    }
  }
</style>