@import "@sass-lib/util-function";

$light-mode-icon: #00b009;
$dark-mode-icon: #41c448;

$light-mode-intro-box-bg-color: #cecece;
$dark-mode-intro-box-bg-color: #434343;

[data-icon] {
  margin-left: 1rem;
}

[data-icon="hugeicons:line"] {
  display: block;
  @include adjust-color($light-mode-icon);
}
[html-dark-theme] [data-icon="hugeicons:line"] {
  @include adjust-color($dark-mode-icon);
}

[data-icon="hugeicons:instagram"] {
  @include adjust-color(#d93078);
}

[html-dark-theme] .introduction-box {
  background-color: $dark-mode-intro-box-bg-color;
  // box-shadow: none;
}

.introduction-box {
  background-color: $light-mode-intro-box-bg-color;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 300px;
  max-width: 550px;
  border-radius: 20px;
  min-height: var(--min-height);
  overflow: hidden;
  margin: 30px;
  position: relative;
  transform: translate3d(0,0,0);

  .roles-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 10;

    .role {
      --margin: 10px;
      position: relative;
      margin-bottom: var(--margin);

      span {
        $border-radius: 8px;
        background: var(--role-color);
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        padding: 5px 17px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        user-select: none;
      }
    }

  }
  .img-container {
    width: 40%;
  }
  .img-wrapper {
    @include full-width-height-relative();

    picture {
      display: block;
      @include full-width-height-relative();
      filter: brightness(.75);

      img {
        @include fill-relative-parentnode();
      }
    }
  }

  .content-wrapper {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .birthday {
      text-align: right;
      margin-bottom: 20px;
      font-size: 15px;
      padding-right: 20px;
    }
    h5 {
      font-size: 16px;
      padding: 0 10px;
    }
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0;

    a {
      z-index: 100;
    }
  }
}

@media screen and (max-width: 620px) {
  [data-icon] {
    width: 40px;
    height: 40px
  }
  .introduction-box {
    flex-direction: column;

    .roles-container {
      top: 0;

      .role {
        margin-bottom: 0;
        margin-top: var(--margin);

        span {
          font-size: 12px;
        }
      }
    }

    .img-container {
      --size: 220px;
      width: var(--size);
      height: var(--size);
      margin: 20px auto 0;
      transform: translateX(10%);
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 470px) {
  .introduction-box .img-container {
    --size: 180px;
  }

  .introduction-box .content-wrapper {
    padding: 15px;

    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 14px;
    }
  }
}