---
interface Props {
  backgroundColor?: string,
  pagePadding?: number | number[],
}
const { pagePadding = 20, backgroundColor } = Astro.props;
const paddingFormat = typeof pagePadding === "number" ? pagePadding+"px" : pagePadding.join("px ") + "px";
---

<section class="fullscreen" style={`--bg-color: ${backgroundColor};`}>
  <div 
    class="container" 
    style={`padding: ${paddingFormat};`}
  >
    <slot/>
  </div>
</section>

<style lang="scss">
  .fullscreen {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color);
  }
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform: translate3d(0,0,0);
  }
</style>