---
interface Props {
  backgroundColor?: string,
  pagePadding?: string,
  enableScroll?: boolean
}
const { pagePadding = "20px", backgroundColor, enableScroll = false } = Astro.props;
const scrollCSS = enableScroll ? `overflow-y: scroll;` : "";
---

<section class="fullscreen" style={`--bg-color: ${backgroundColor};`}>
  <div 
    class="container" 
    style={`padding: ${pagePadding}; ${scrollCSS}`}
  >
    <slot/>
  </div>
</section>

<style lang="scss">
  .fullscreen {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--default-bg-color);
  }
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: visible;
    transform: translate3d(0,0,0);
  }
</style>