---
import '@fontsource/pacifico';
import '@fontsource/rocknroll-one';
import '@fontsource/yuji-syuku';
import '@sass-lib/global.scss';

import { resolveRoot } from '@util-lib/util';
const FAVICON_PATH = resolveRoot("favicon.svg");

interface Props {
	title?: string;
	lock?: boolean;
}

const { title = "TGW Hub", lock = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={FAVICON_PATH} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={{ overflow: lock ? "hidden" : "scroll" }}>
		<slot name="navbar"/>
		<slot />
		<script>
			window.onload = () => {
				const root = document.documentElement;
				const localStorageTheme = localStorage.getItem("html-theme");
				if(!localStorageTheme) {
					if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
						/* User prefers dark mode */
						localStorage.setItem("html-theme", "dark");
						root.setAttribute("html-dark-theme", "");
					} else { 
						/* User prefers light mode (default)	*/ 
						localStorage.setItem("html-theme", "light");
					}
				}
				
				if(localStorageTheme === "dark") {
					root.setAttribute("html-dark-theme", "");
				} else {
					root.removeAttribute("html-dark-theme");
				}
			}
		</script>
	</body>
</html>
