---
import '@fontsource/pacifico';
import '@fontsource/rocknroll-one';
import '@fontsource/yuji-syuku';
import '@sass-lib/global.scss';

interface Props {
	title?: string;
	lock?: boolean;
}

const { title = "TGW Hub", lock = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/TGW-Hub/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={{ overflow: lock ? "hidden" : "scroll" }}>
		<slot name="navbar"/>
		<slot />
		<script>
			const root = document.documentElement;
			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				/* User prefers dark mode */
				root.setAttribute("html-dark-theme", "");
			} else { /* User prefers light mode (default)	*/ }

			// const maxScroll = document.documentElement.scrollHeight - window.innerHeight;
			// window.addEventListener("wheel", function(e) {
			// 	// e.preventDefault();
			// 	const delta = e.deltaY;
			// 	const currentScroll = window.scrollY;
			// 	if(currentScroll <= 0 && delta < 0) {
			// 		e.preventDefault();
			// 		window.scrollTo({
			// 			top: 10,
			// 			behavior: "instant"
			// 		});
			// 	} else if(currentScroll > maxScroll) {
			// 		window.scrollTo(0, maxScroll);
			// 	}
			// }, { passive: false })
		</script>
	</body>
</html>
