---
import '@fontsource/pacifico';
import '@fontsource/rocknroll-one';
import '@sass-lib/global.scss';

interface Props {
	title?: string;
	lock?: boolean;
}

const { title = "TGW Hub", lock = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={{ overflow: lock ? "hidden" : "scroll" }}>
		<slot />
		<script>
			const body = document.getElementsByTagName("body")[0];
			const root = document.documentElement;
			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				/* User prefers dark mode */
				root.setAttribute("html-dark-mode", "")
			} else { /* User prefers light mode (default)	*/ }
		</script>
	</body>
</html>
